@use './variables' as *;
@use './mixins' as *;


html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-family: 'avenir';
  font-weight: 600;
  font-size: 1.5rem;

    @include tablet {
      font-size: 2.25rem;
    }

    @include desktop {
    }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-color-black;
  margin: 0;

    @include tablet {
      flex-direction: row;
    }

    @include desktop {
      flex-direction: row;
    }

  &__logo {
    padding-top: 1.25rem;

    @include tablet {
      padding: 1.125rem;
    }

    @include desktop {
      padding-left: 5rem;
    }
  }

  &__logo-image {
    height: 1.125rem;

    @include tablet {
      height: 1rem;
    }
  }

  &__links {
    display: flex;
    width: 100%;
  }

  &__link {
    display: flex;
    justify-content: space-around;
    color: $primary-color-white;
    width: 100%;
    font-family: 'avenir';
    font-weight: 400;
    font-size: 1.125rem;
    
    @include tablet {
      width: 10%;
      justify-content: unset;
      align-items: center;
      font-size: 0.8rem;
      padding: 1.25rem;
      padding-left: 1.875rem;
    }

    @include desktop {
      width: 5%;
      font-size: .75rem;
      padding: 1rem;
    }
  }

    &__link--selected {
      border-bottom: 2px solid $primary-color-white;
    }
}



.footer {
  background-color: $primary-color-black;
  color: $primary-color-white;
  font-family: 'avenir';
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .625rem;
  padding-bottom: 1.5rem;
  line-height: 1.25rem;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: baseline;

      @include tablet {
        flex-direction: row;
      }

      @include desktop {
        padding-left: 5rem;
      }
  }

  &__socials {
    height: 40%;
    padding-right: 2.5rem;
    padding-bottom: 1rem;

      @include tablet {
      display: flex;
      flex-direction: row;
      }

      @include desktop {
        padding-left: 1.25rem;
      }
  }

  &__social {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;

      @include tablet {
        display: flex;
        flex-direction: row;
      }

      @include desktop {
        justify-content: start;
        padding-left: 2.1875rem;
      }
  }

  &__contact {
    margin: 0;
    padding: 0 .625rem;

      @include desktop {
        padding: 0 3.125rem;
      }
  }

  &__contact-info {
    font-weight: 400;
    font-size: .75rem;
  }

  &__contact-info--bold {
    font-weight: 500;
    margin: 0;
  }

  &__copyright-image {  
    padding-left: .625rem;
  }

  &__copyright-image--visible-mobile {

      @include tablet {
        visibility: hidden    
      }

      @include desktop {
        visibility: hidden    
      }
    } 

  &__copyright-image--visible-tabletdesktop {
    visibility: hidden;

      @include tablet {
        visibility: visible;
      }

      @include desktop{
        padding-left: 31.25rem;
      }
  }
  &__copyright-info {
    font-family: 'avenir';
    font-size: .6875rem;
    padding-left: .625rem;

      @include tablet {
        padding-left: .625rem;
      }

      @include desktop {
        padding-left: 5rem;
      }
  }
}




