html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-family: "avenir";
  font-weight: 700;
  font-size: 28px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    flex-direction: row;
  }
}
.nav__logo {
  padding-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .nav__logo {
    padding: 1.125rem;
  }
}
.nav__logo-image {
  height: 1.125rem;
}
@media screen and (min-width: 768px) {
  .nav__logo-image {
    height: 1rem;
  }
}
.nav__links {
  display: flex;
  width: 100%;
}
.nav__link {
  display: flex;
  justify-content: space-around;
  color: aliceblue;
  width: 100%;
  font-family: "avenir";
  font-weight: 400;
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  .nav__link {
    width: 10%;
    justify-content: unset;
    align-items: center;
    font-size: 0.8rem;
    padding: 1.25rem;
    padding-left: 1.875rem;
  }
}
.nav__link--selected {
  border-bottom: 2px solid white;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 24px;
  line-height: 20px;
}
.footer__socials {
  display: flex;
  flex-direction: row;
}
.footer__social {
  height: 40%;
  padding-right: 40px;
  padding-bottom: 16px;
}
.footer__contacts {
  font-family: "avenir";
}
.footer__contact {
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
}
.footer__contact-info {
  font-weight: 400;
  font-size: 1rem;
}
.footer__copyright {
  padding-top: 1.5rem;
}
.footer__copyright-image {
  padding-top: 1.5rem;
}
.footer__copyright-info {
  font-family: "avenir";
  font-size: 11px;
}

@font-face {
  font-family: "avenir";
  src: url(assets/Fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "avenir";
  src: url(assets/Fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: "avenir";
  src: url(assets/Fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
.hero {
  background-image: url(../assets/Images/hero-bio.jpg);
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__title {
  font-family: "avenir";
  padding-top: 110px;
  padding-left: 16px;
  color: white;
  font-size: 28px;
  margin: 0;
}

.bio {
  padding-left: 16px;
  padding-right: 16px;
}
.bio__image {
  width: 100%;
}
.bio__info {
  display: flex;
  flex-wrap: wrap;
  font-family: "avenir";
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}
.bio__band-name {
  font-family: "avenir";
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}
.bio__band-description {
  font-family: "avenir";
  font-size: 16px;
  line-height: 22px;
}

.gallery {
  background-color: #FAFAFA;
  padding: 1rem;
}
.gallery__items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.gallery__item {
  width: 100%;
  overflow: auto;
  padding-bottom: 1rem;
}/*# sourceMappingURL=bio.css.map */