@use "./partials/globals" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;


.hero {
  background-image: url(../assets/Images/hero-bio.jpg);
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__title {
    font-family: 'avenir';
    padding-top: 110px;
    padding-left: 16px;
    color: white;
    font-size: 28px;
    margin: 0;
    }
}


.bio {
  padding-left: 16px;
  padding-right: 16px;

  &__image {
    width: 100%;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    font-family: 'avenir';
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
  }

  &__band-name {
    font-family: 'avenir';
    font-size: 16px;
    font-weight: 500;
    margin: 0;
  }
  
  &__band-description {
    font-family: 'avenir';
    font-size: 16px;
    line-height: 22px;
  
  }
}






// .images__container {
//   background-color: $secondary-color-alabaster;
//   padding-left: 16px;
//   padding-right: 16px;
//   padding-bottom: 16px;
// }


// .images__item {
//   padding-bottom: 16px;
//   width: 100%;
// }

footer {
  background-color: $primary-color-black;
  color: $primary-color-white;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 24px;
  line-height: 20px;
}


.icons__container {
  display: flex;
  flex-direction: row;
}

.icons__images {
  // height: 20%;
  padding-right: 40px;
  padding-bottom: 16px;
}

.contacts__container {
  font-family: 'avenir';
}

.contacts__title {
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
}

.contacts__info {
  font-weight: 400;
  font-size: 1rem;
}

.copyright__container {
  padding-top: 1.5rem;
}

.copyright__logo-image {
  padding-top: 1.5rem;

}

.copyright__info {
  font-family: 'avenir';
  font-size: 12px;
}





