@use "./partials/globals" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;


.hero {
  background-image: url(../assets/Images/hero-bio.jpg);
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  @include tablet {
    height: 640px;
  }

  &__opacity {
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    height: 251px;
    z-index: 1;
    background: rgba(0,0,0,.5);


    @include tablet{
      top: 59px;
      height: 640px;
    }

  }

  &__title {
    font-family: 'avenir';
    padding-top: 110px;
    padding-left: 16px;
    color: white;
    font-size: 28px;
    margin: 0;
    
    @include tablet {
      font-size: 60px;
      padding-top: 300px;
      padding-left: 30px;
    }
  }
}

.bio {
  padding-left: 14px;
  padding-right: 14px;

    @include tablet {
      padding-left: 70px;
      padding-right: 70px;
    }

  &__image {
    width: 100%;
  }

  &__quote {
    display: flex;
    flex-wrap: wrap;
    font-family: 'avenir';
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;

    @include tablet {
      display: flex;
      padding-left: 20px;
      font-size: 24px;
      line-height: 44px;
    }
  }

    &__quote--tablet {
    font-size: 14px;
  }

  &__band {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      font-size: 14px;
    }

  }
  &__band-title {
    font-family: 'avenir';
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
    margin: 0;

    @include tablet {
      font-size: 24px;
    }
  }
  
  &__band-description {
    font-family: 'avenir';
    font-size: 16px;
    line-height: 22px;

    @include tablet {
      font-size: 14px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.gallery {
  background-color: $secondary-color-alabaster;
  padding: 1rem;

  &__items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @include tablet {
      justify-content: space-between;      
    }
  }

  &__item {
    width: 100%;
    overflow: auto;
    padding-bottom: 1rem;

    @include tablet {
      justify-content: space-between;
      width: 30%;
    }
  }
}




















