@use "./partials/globals" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;


.hero {
  background-image: url(../assets/Images/hero-bio.jpg);
  height: 15.625rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  @include tablet {
    height: 40rem;
  }

  &__opacity {
    position: absolute;
    top: 4.25rem;
    left: 0;
    width: 100%;
    height: 15.6875rem;
    z-index: 1;
    background: rgba(0,0,0,.5);


    @include tablet{
      top: 3.6875rem;
      height: 40rem;
    }

    @include desktop {
      top: 3.4375rem;
      height: 40.0625rem;
    }

  }

  &__title {
    font-family: 'avenir';
    padding-top: 6.875rem;
    padding-left: 1rem;
    color: white;
    font-size: 1.75rem;
    margin: 0;
    
    @include tablet {
      font-size: 3.75rem;
      padding-top: 18.75rem;
      padding-left: 1.875rem;
    }
  }
}

.bio {
  padding-left: .875rem;
  padding-right: .875rem;

    @include tablet {
      padding-left: 4.375rem;
      padding-right: 4.375rem;
    }

  &__image {
    width: 100%;

    @include desktop {
      width: 80%;
      padding-left: 5rem;
    }
  }

  &__quote {
    display: flex;
    flex-wrap: wrap;
    font-family: 'avenir';
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.375rem;

    @include tablet {
      display: flex;
      padding-left: 1.25rem;
      font-size: 1.5rem;
      line-height: 2.75rem;
    }

    @include desktop {
      padding: 0 6.25rem;
      font-size: 1.25rem;
      line-height: 2.75rem;
    }
  }

    &__quote--tablet {
    font-size: .875rem;
  }

  &__band {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      font-size: .875rem;
    }
  }

  &__band-title {
    font-family: 'avenir';
    font-size: 1rem;
    font-weight: 500;
    margin: 0;

    @include tablet {
      font-size: 1.5rem;
    }

    @include desktop {
      font-size: 1.25rem;
      padding-left: 5rem;
    }
  }
  
  &__band-description {
    font-family: 'avenir';
    font-size: 1rem;
    line-height: 1.375rem;

    @include tablet {
      font-size: .875rem;
      padding-left: .625rem;
      padding-right: .625rem;
    }

    @include desktop {
      padding: 0 4.375rem;
    }
  }
}

.gallery {
  background-color: $secondary-color-alabaster;
  padding: .5rem 1rem;

    @include desktop {
      padding: 1rem 5rem;
    }

  &__items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

      @include tablet {
        justify-content: space-between;      
      }

      @include desktop {
        justify-content: unset;
      }
  }

  &__item {
    width: 100%;
    overflow: auto;
    padding-bottom: 1rem;

      @include tablet {
        justify-content: space-between;
        width: 30%;
      }

      @include desktop {
        justify-content: unset;
        padding: .625rem;
      }
  }
}


.comments {
  display: flex;
  flex-direction: column;
}

.comments__input-form {
  display: flex;
}

.comments__avatar {
  height:50px;
  width:50px;
  border-radius:50%;
  vertical-align: middle;
}

.user-comments__image {
  background-color: gray;
  height:50px;
  width:50px;
  border-radius:50%;
  vertical-align: middle;
}

.usersample {
  display: flex;
  flex-wrap: wrap;
}

.user-comment__detail {
  display: flex;
}

.user-comments {
  display: flex;
  // flex-direction: column;
}















