@use "./partials/globals" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;

.hero {
  background-image: url(../assets/Images/hero-bio.jpg);
  height: 15.625rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;

  @include tablet {
    height: 40rem;
  }

  &__opacity {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    // top: 4rem;
    left: 0;
    width: 100%;
    height: 15.625rem;
    z-index: 1;
    background: rgba(0,0,0,.5);


    @include tablet{
      top: 3.6875rem;
      height: 40rem;
    }

    @include desktop {
      top: 3.4375rem;
      height: 40.0625rem;
    }
  }


  &__title {
    font-family: 'avenir';
    padding-top: 6.875rem;
    padding-left: 1rem;
    color: white;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    
    @include tablet {
      font-size: 3.75rem;
      padding-top: 18.75rem;
      padding-left: 1.875rem;
    }
  }

  &__album-title {
    color: $primary-color-white;
    font-family: 'avenir';
    font-weight: 400;
  }

  &__soundcloud {
    width: 80%;
  }
}

.shows {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-family: 'avenir';


  &__title {
    font-family: 'avenir';
    font-size: 1.75rem;
  }

    @include tablet {
      display: flex;
      flex-direction: column;
    }
  
  &__container {
    border-bottom: 1px solid $secondary-color-mercury; 
    padding-bottom: .625rem;

  }

  &__subheading {
    font-family: 'avenir';
    font-size: .75rem;
    font-weight: 600;
    color: $primary-color-silver;
  }

  &__date-info {
    font-weight: 700;
  }

  &__button {
    border: none;
    padding: 0.8rem;
    font-size: 1.125rem;
    color: white;
    background-color: $primary-color-black;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    margin-top: 1rem;
    width: 100%;
    }
}