html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-family: "avenir";
  font-weight: 600;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 2.25rem;
  }
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    flex-direction: row;
  }
}
.nav__logo {
  padding-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .nav__logo {
    padding: 1.125rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__logo {
    padding-left: 5rem;
  }
}
.nav__logo-image {
  height: 1.125rem;
}
@media screen and (min-width: 768px) {
  .nav__logo-image {
    height: 1rem;
  }
}
.nav__links {
  display: flex;
  width: 100%;
}
.nav__link {
  display: flex;
  justify-content: space-around;
  color: #FFFFFF;
  width: 100%;
  font-family: "avenir";
  font-weight: 400;
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  .nav__link {
    width: 10%;
    justify-content: unset;
    align-items: center;
    font-size: 0.8rem;
    padding: 1.25rem;
    padding-left: 1.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__link {
    width: 5%;
    font-size: 0.75rem;
    padding: 1rem;
  }
}
.nav__link--selected {
  border-bottom: 2px solid #FFFFFF;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  font-family: "avenir";
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.625rem;
  padding-bottom: 1.5rem;
  line-height: 1.25rem;
}
.footer__info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
@media screen and (min-width: 768px) {
  .footer__info {
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .footer__info {
    padding-left: 5rem;
  }
}
.footer__socials {
  height: 40%;
  padding-right: 2.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__socials {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .footer__socials {
    padding-left: 1.25rem;
  }
}
.footer__social {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer__contacts {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contacts {
    justify-content: start;
    padding-left: 2.1875rem;
  }
}
.footer__contact {
  margin: 0;
  padding: 0 0.625rem;
}
@media screen and (min-width: 1280px) {
  .footer__contact {
    padding: 0 3.125rem;
  }
}
.footer__contact-info {
  font-weight: 400;
  font-size: 0.75rem;
}
.footer__contact-info--bold {
  font-weight: 500;
  margin: 0;
}
.footer__copyright-image {
  padding-left: 0.625rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright-image--visible-mobile {
    visibility: hidden;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright-image--visible-mobile {
    visibility: hidden;
  }
}
.footer__copyright-image--visible-tabletdesktop {
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .footer__copyright-image--visible-tabletdesktop {
    visibility: visible;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright-image--visible-tabletdesktop {
    padding-left: 31.25rem;
  }
}
.footer__copyright-info {
  font-family: "avenir";
  font-size: 0.6875rem;
  padding-left: 0.625rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright-info {
    padding-left: 0.625rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright-info {
    padding-left: 5rem;
  }
}

@font-face {
  font-family: "avenir";
  src: url(assets/Fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "avenir";
  src: url(assets/Fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: "avenir";
  src: url(assets/Fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}/*# sourceMappingURL=shows.css.map */