html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-family: "avenir";
  font-weight: 600;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 2.25rem;
    margin-left: 1.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .title {
    margin-left: 5rem;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
  margin: 0;
  height: 80px;
}
@media screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    flex-direction: row;
  }
}
.nav__logo {
  padding-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .nav__logo {
    padding: 1.125rem;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__logo {
    padding-left: 5rem;
  }
}
.nav__logo-image {
  height: 1.125rem;
  padding-bottom: 0.3125rem;
}
@media screen and (min-width: 768px) {
  .nav__logo-image {
    height: 1rem;
  }
}
.nav__links {
  display: flex;
  width: 100%;
}
.nav__link {
  display: flex;
  justify-content: space-around;
  color: #FFFFFF;
  width: 100%;
  font-family: "avenir";
  font-weight: 400;
  font-size: 1.125rem;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .nav__link {
    width: -moz-fit-content;
    width: fit-content;
    justify-content: unset;
    align-items: center;
    font-size: 0.8rem;
    padding: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__link {
    width: 5%;
    font-size: 0.75rem;
    padding: 1rem;
  }
}

.active {
  line-height: 166%;
  border-bottom: 4px solid white;
}
@media screen and (min-width: 768px) {
  .active {
    line-height: 250%;
  }
}
@media screen and (min-width: 1280px) {
  .active {
    line-height: 350%;
  }
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  font-family: "avenir";
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.625rem;
  padding-bottom: 1.5rem;
  line-height: 1.25rem;
}
.footer__info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
@media screen and (min-width: 768px) {
  .footer__info {
    flex-direction: row;
    margin-left: 1.85rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__info {
    padding-left: 5rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__title {
    margin-left: -0.1rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__title {
    margin-left: -2rem;
  }
}
.footer__socials {
  height: 40%;
  padding-right: 2.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__socials {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .footer__socials {
    padding-left: 1.25rem;
  }
}
.footer__social {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer__contacts {
    display: flex;
    flex-direction: row;
    margin-left: -9rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contacts {
    justify-content: start;
    margin-left: 2rem;
  }
}
.footer__contact {
  margin: 0;
  padding: 0 0.625rem;
}
@media screen and (min-width: 1280px) {
  .footer__contact {
    padding: 0 3.125rem;
  }
}
.footer__contact-info {
  font-weight: 400;
  font-size: 0.75rem;
}
.footer__contact-info--bold {
  font-weight: 700;
  margin: 0;
}
.footer__copyright-image {
  padding-left: 0.625rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright-image--visible-mobile {
    visibility: hidden;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright-image--visible-mobile {
    visibility: hidden;
  }
}
.footer__copyright-image--visible-tabletdesktop {
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .footer__copyright-image--visible-tabletdesktop {
    visibility: visible;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright-image--visible-tabletdesktop {
    padding-left: 31.25rem;
  }
}
.footer__copyright-info {
  font-family: "avenir";
  font-size: 0.6875rem;
  padding-left: 0.625rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright-info {
    padding-left: 0.625rem;
    margin-left: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright-info {
    padding-left: 3.5rem;
  }
}

@font-face {
  font-family: "avenir";
  src: url(assets/Fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "avenir";
  src: url(assets/Fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: "avenir";
  src: url(assets/Fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
.hero {
  background-image: url(../assets/Images/hero-shows.jpg);
  height: 20rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 35rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 35rem;
  }
}
.hero__opacity {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 100%;
  height: 15.625rem;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 768px) {
  .hero__opacity {
    height: 35rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__opacity {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35rem;
    justify-content: space-between;
  }
}
.hero__header-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .hero__header-container {
    padding: 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__header-container {
    width: 40%;
  }
}
.hero__header-container__soundcloud {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 1rem;
  margin-bottom: 4rem;
  position: relative;
}
@media screen and (min-width: 1280px) {
  .hero__header-container {
    width: 40%;
    margin-left: 4rem;
  }
}
.hero .soundcloud_player {
  margin: 0 auto;
  display: flex;
  width: 87%;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .hero .soundcloud_player {
    width: 65%;
    height: 10rem;
    margin-left: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero .soundcloud_player {
    width: 65%;
    margin-right: 15rem;
  }
}
.hero__title {
  font-family: "avenir";
  padding-top: 6.875rem;
  padding-left: 1rem;
  color: white;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 4rem;
    margin-left: -1rem;
  }
}
.hero__album-title {
  color: #FFFFFF;
  font-family: "avenir";
  font-weight: 400;
  margin-top: -25px;
}
@media screen and (min-width: 768px) {
  .hero__album-title {
    font-size: 2rem;
    margin-left: -1rem;
  }
}

.shows {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-family: "avenir";
}
@media screen and (min-width: 1280px) {
  .shows {
    display: flex;
  }
}
.shows__title {
  font-family: "avenir";
  font-size: 1.75rem;
  padding-left: 2rem;
}
@media screen and (min-width: 1280px) {
  .shows__title {
    padding-left: 2rem;
    padding-top: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .shows {
    display: flex;
    flex-direction: column;
  }
}
.shows__container {
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 0.625rem;
}
@media screen and (min-width: 768px) {
  .shows__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.shows__container:hover {
  background-color: #E1E1E1;
}
.shows__subheading {
  font-family: "avenir";
  font-size: 0.75rem;
  font-weight: 600;
  color: #AFAFAF;
}
@media screen and (min-width: 768px) {
  .shows__subheading {
    visibility: hidden;
  }
}
.shows__headings-container {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__headings-container {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .shows__headings-container {
    padding-left: 12rem;
  }
}
.shows__headings-container--shown {
  display: flex;
  justify-content: flex-start;
  justify-content: space-around;
  padding: 0 3.625rem;
  margin: 0;
  font-family: "avenir";
  font-size: 0.75rem;
  font-weight: 600;
  color: #AFAFAF;
}
@media screen and (min-width: 1280px) {
  .shows__headings-container--shown {
    padding: 0 5rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__list {
    padding-left: 10rem;
  }
}
.shows__date-info {
  font-weight: 700;
}
.shows__button {
  border: none;
  padding: 0.8rem;
  font-size: 1.125rem;
  color: white;
  background-color: #323232;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  margin-top: 1rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .shows__button {
    width: 25%;
  }
}/*# sourceMappingURL=shows.css.map */