@use "./partials/globals" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;

.hero {
  background-image: url(../assets/Images/hero-shows.jpg);
  height: 20rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;

    @include tablet {
      height: 35rem;
    }

  &__opacity {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    width: 100%;
    height: 15.625rem;
    z-index: 1;
    background: rgba(0,0,0,.5);

      @include tablet{
        height: 35rem;
      }

      @include desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
  }

  &__header-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 2rem;

      @include tablet{
        padding: 4rem;
      }

      @include desktop{
        width: 40%;
      }

  &__soundcloud{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 1rem;
    margin-bottom: 4rem;
    position: relative; 
    }

    @include desktop{
      width: 40%;
      margin-left: 4rem;
    }
  }

.soundcloud_player {
  margin: 0 auto;
  display: flex;
  width: 87%;
  border-radius: 5px;

  @include tablet{
    width: 65%;
    height: 10rem;
    margin-left: 3rem;
    }

  @include desktop{
    margin-right: 15rem;
    }
  }

  &__title {
    padding-top: 6.875rem;
    padding-left: 1rem;
    color: white;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    
    @include tablet {
      font-size: 4rem;
      margin-left: -1rem;
    }
  }

  &__album-title {
    color: $primary-color-white;
    font-weight: 400;
    margin-top: -25px;

    @include tablet {
      font-size: 2rem;
      margin-left: -1rem;
    }
  }
}

.shows {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  @include desktop{
    display: flex;
    }

  &__title {
    font-size: 1.75rem;
    padding-left: 2rem;

    @include desktop{
      padding-left: 2rem;
      padding-top: 1rem;
    }
  }

    @include tablet {
      display: flex;
      flex-direction: column;
    }
  
  &__container {
    border-bottom: 1px solid $secondary-color-mercury; 
    padding-bottom: .625rem;

    @include tablet{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }

  &__container:hover {
    background-color: $secondary-color-mercury;
  }

  &__subheading {
    font-size: .75rem;
    font-weight: 600;
    color: $primary-color-silver;

      @include tablet{
        display: none;
      }
  }

  &__headings-container {
    display: none;

      @include tablet {
        display: flex;
      }

      @include desktop{
        padding-left: 12rem;
      }
  }

  &__headings-container--shown{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    padding: 0 3.625rem;
    margin: 0;
    font-size: .75rem;
    font-weight: 600;
    color: $primary-color-silver;

      @include desktop{
        padding: 0 5rem;
      }
  }

  &__list{
    @include desktop{
      padding-left: 10rem;
    }
  }

  &__date-info {
    font-weight: 700;
  }

  &__button {
    border: none;
    padding: 0.8rem;
    font-size: 1.125rem;
    color: white;
    background-color: $primary-color-black;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    margin-top: 1rem;
    width: 100%;

      @include tablet{
        width: 25%;
      }
    }
}

.selected {
  background-color: $secondary-color-mercury;
}



